Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

.lintstagedrc.json:

{
  "packages/mermaid/src/docs/**": ["pnpm run docs:build --git"],
  "packages/mermaid/src/docs.mts": ["pnpm run docs:build --git"],
  "*.{ts,js,json,html,md,mts}": ["eslint --fix", "prettier --write"],
  "*.jison": ["pnpm run lint:jison"]
}

chore: format blockquote
  README.md
  docs/intro/index.md
  packages/mermaid/src/docs/intro/index.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

chore: Update docs build vitepress command
  .github/gh-pages-publish.yml
  CONTRIBUTING.md
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

chore: lint
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/diagram_proposal.yml
  .github/ISSUE_TEMPLATE/syntaxt_proposal.yml
  .github/ISSUE_TEMPLATE/theme_proposal.yml
Due: none

Update README.md
  README.md
Due: eslint --fix, prettier --write

chore: fix most of aloisklink reviews
  .github/gh-pages-publish.yml
  .github/workflows/lint.yml
  CONTRIBUTING.md
  package.json
  packages/mermaid/src/docs/.vitepress/config.ts
  packages/mermaid/src/docs/config/setup/modules/mermaidAPI.md
  packages/mermaid/src/mermaidAPI.ts
  pnpm-lock.yaml
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Update packages/mermaid/src/docs.mts
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Apply suggestions from code review
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

chore: Review comments
  CONTRIBUTING.md
  docs/config/setup/modules/mermaidAPI.md
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

chore: Ignore `packages/mermaid/src/docs/config/setup`
  .gitignore
  packages/mermaid/.gitignore
  packages/mermaid/src/docs/config/setup/README.md
  packages/mermaid/src/docs/config/setup/modules/config.md
  packages/mermaid/src/docs/config/setup/modules/defaultConfig.md
  packages/mermaid/src/docs/config/setup/modules/mermaidAPI.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Update packages/mermaid/.lintstagedrc.json
  packages/mermaid/.lintstagedrc.json
Due: eslint --fix, prettier --write

created new build script
  .vite/build.ts
  packages/mermaid-zenuml/.vite/build.ts
  packages/mermaid-zenuml/package.json
Due: eslint --fix, prettier --write

Dynamically link zenuml.css
  cypress/platform/zenuml.html
  packages/mermaid-zenuml/.vite/build.ts
  packages/mermaid-zenuml/src/detector.ts
  packages/mermaid-zenuml/src/zenumlRenderer.ts
Due: eslint --fix, prettier --write

Precommit Test
  packages/mermaid/src/docs/index.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Precommit Test
  packages/mermaid/.lintstagedrc.json
  packages/mermaid/src/docs/index.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Precommit Test
  packages/mermaid/src/docs/syntax/classDiagram.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Precommit Test
  .lintstagedrc.json
  docs/syntax/classDiagram.md
  packages/mermaid/.lintstagedrc.json
  packages/mermaid/src/docs.mts
  packages/mermaid/src/docs/syntax/classDiagram.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

chore: Cleanup lintStaged
  .lintstagedrc.json
  package.json
  packages/mermaid/.lintstagedrc.json
Due: eslint --fix, prettier --write

chore: Add actions deploy
  .github/workflows/docs.yml
  .github/workflows/publish-docs.yml
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

Publish
  .github/workflows/publish-docs.yml
Due: none

Fix lint
  package.json
Due: eslint --fix, prettier --write

Add pnpm
  .github/workflows/publish-docs.yml
Due: none

Fix base
  packages/mermaid/src/docs/.vitepress/config.ts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

chore: Remove test branch
  .github/workflows/publish-docs.yml
Due: none

chore: Configure typedoc source links
  docs/config/setup/modules/config.md
  docs/config/setup/modules/defaultConfig.md
  docs/config/setup/modules/mermaidAPI.md
  packages/mermaid/package.json
  packages/mermaid/typedoc.json
Due: eslint --fix, prettier --write

fix: Lint
  packages/mermaid/.lintstagedrc.json
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

docs: Change yarn to pnpm
  docs/intro/index.md
  packages/mermaid/src/docs/intro/index.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

feat: Add live updates to docs.
  packages/mermaid/package.json
  packages/mermaid/src/docs.mts
  pnpm-lock.yaml
Due: pnpm run docs:build --git, eslint --fix, prettier --write

update user story link
  README.zh-CN.md
Due: eslint --fix, prettier --write

Imported vue-sequence.css
  packages/mermaid-zenuml/.vite/build.ts
  packages/mermaid-zenuml/src/zenumlRenderer.ts
Due: eslint --fix, prettier --write

chore(docs): Update live editor links
  README.zh-CN.md
Due: eslint --fix, prettier --write

Updated version
  packages/mermaid-mindmap/package.json
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

Updated mermaid version for the docs
  docs/index.html
Due: eslint --fix, prettier --write

Update contributors
  packages/mermaid/src/docs/index.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

use lodash isEmpty instead of method defined in utils
  packages/mermaid/src/mermaidAPI.ts
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

merge fix: get classDefs only if diagram is in CLASSDEF_DIAGRAMS
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

fix typo
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

only call getClasses if the diagram renderer supports it
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

chore: cSpell
  cSpell.json
Due: eslint --fix, prettier --write

Wrapped the sequence-diagram with the svg
  packages/mermaid-zenuml/src/zenumlRenderer.ts
Due: eslint --fix, prettier --write

Make sure initial vue-sequence rendering is not visible
  packages/mermaid-zenuml/src/zenumlRenderer.ts
Due: eslint --fix, prettier --write
