Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

.lintstagedrc.json:

{
  "packages/mermaid/src/docs/**": ["pnpm run docs:build --git"],
  "packages/mermaid/src/docs.mts": ["pnpm run docs:build --git"],
  "*.{ts,js,json,html,md,mts}": ["eslint --fix", "prettier --write"],
  "*.jison": ["pnpm run lint:jison"]
}

docs: Rebuild
  docs/n00b-syntaxReference.md
Due: eslint --fix, prettier --write

Appended Contact Mail of Mermaid
  CODE_OF_CONDUCT.md
Due: eslint --fix, prettier --write

fix: Import diagram
  cypress/platform/knsv2.html
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

chore: Format COC.
  CODE_OF_CONDUCT.md
Due: eslint --fix, prettier --write

fix: use async in render-after-error
  cypress/platform/render-after-error.html
Due: eslint --fix, prettier --write

fix #3391: Remove flowchart as fallback for diagram detection.
  cypress/platform/sidv.html
  package.json
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/diagram-api/diagramAPI.spec.ts
  packages/mermaid/src/diagrams/flowchart/flowDb.js
Due: eslint --fix, prettier --write

fix: pnpm not found
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: Filename in viewer.js
  cypress/platform/viewer.js
Due: eslint --fix, prettier --write

fix: module import in pie chart demo
  demos/pie.html
Due: eslint --fix, prettier --write

fix: dynamic import
  cypress/platform/knsv2.html
  cypress/platform/viewer.js
Due: eslint --fix, prettier --write

chore: cleanup
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

docs: Add mermaid version to script URL
  docs/README.md
  docs/n00b-gettingStarted.md
  docs/usage.md
  package.json
  packages/mermaid/src/docs.mts
  packages/mermaid/src/docs/README.md
  packages/mermaid/src/docs/n00b-gettingStarted.md
  packages/mermaid/src/docs/usage.md
  pnpm-lock.yaml
  vdocs/config/usage.md
  vdocs/intro/index.md
  vdocs/intro/n00b-gettingStarted.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs: Add badges
  docs/README.md
  packages/mermaid/src/docs/README.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

cleanup
  todo-fix-root-level-tsconfig.json
Due: eslint --fix, prettier --write

cleanup
  packages/mermaid/src/diagram-api/text-wrap
Due: none

chore: Cleanup
  .vite/build.ts
  cypress/platform/knsv.html
  cypress/platform/knsv2.html
  cypress/platform/viewer.js
  packages/mermaid-example-diagram/src/detector.ts
  packages/mermaid-example-diagram/src/diagram-definition.ts
  packages/mermaid-example-diagram/src/registry.ts
  packages/mermaid-mindmap/src/detector.ts
  packages/mermaid-mindmap/src/diagram-definition.ts
  packages/mermaid-mindmap/src/mermaidUtils.ts
  packages/mermaid-mindmap/src/mindmapDetector.ts
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix: build npm-script
  demos/pie.html
  package.json
Due: eslint --fix, prettier --write

fix: Load all extraDiagrams
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagram-api/diagramAPI.spec.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/diagram-api/types.ts
  packages/mermaid/src/diagrams/c4/c4Detector.ts
  packages/mermaid/src/diagrams/class/classDetector-V2.ts
  packages/mermaid/src/diagrams/class/classDetector.ts
  packages/mermaid/src/diagrams/er/erDetector.ts
  packages/mermaid/src/diagrams/flowchart/flowDetector-v2.ts
  packages/mermaid/src/diagrams/flowchart/flowDetector.ts
  packages/mermaid/src/diagrams/gantt/ganttDetector.ts
  packages/mermaid/src/diagrams/git/gitGraphDetector.ts
  packages/mermaid/src/diagrams/info/infoDetector.ts
  packages/mermaid/src/diagrams/pie/pieDetector.ts
  packages/mermaid/src/diagrams/requirement/requirementDetector.ts
  packages/mermaid/src/diagrams/sequence/sequenceDetector.ts
  packages/mermaid/src/diagrams/state/stateDetector-V2.ts
  packages/mermaid/src/diagrams/state/stateDetector.ts
  packages/mermaid/src/diagrams/user-journey/journeyDetector.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix: Restore conf.
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

Fix for issue in classdiagram-v2 from the typescript updates
  cypress/platform/knsv2.html
  packages/mermaid/src/diagrams/class/svgDraw.js
Due: eslint --fix, prettier --write

fix: build npm-script
  package.json
Due: eslint --fix, prettier --write

Fix for broken test
  V10-BreakingChanges.md
  cypress/integration/rendering/gantt.spec.js
  cypress/platform/knsv2.html
  package.json
  packages/mermaid/src/diagrams/class/svgDraw.js
  packages/mermaid/src/diagrams/gantt/ganttDb.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add GH Action
  .github/workflows/docs.yml
Due: none

Add cSpell config
  cSpell.json
Due: eslint --fix, prettier --write

Add known words
  cSpell.json
Due: eslint --fix, prettier --write

Back-ticks around non-word term
  packages/mermaid/src/docs/development.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Revert "Back-ticks around non-word term"
  packages/mermaid/src/docs/development.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

add knsv to dictionary
  cSpell.json
Due: eslint --fix, prettier --write

add terms
  cSpell.json
Due: eslint --fix, prettier --write

back-ticks for non-word terms
  packages/mermaid/src/docs/Setup.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: boundaries
  packages/mermaid/src/docs/Setup.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

standardization: "behavior"
  packages/mermaid/src/docs/Setup.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: "source control"
  packages/mermaid/src/docs/Setup.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

add known terms
  cSpell.json
Due: eslint --fix, prettier --write

standardization: "sanitize"
  packages/mermaid/src/docs/README.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write
