Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

fix(docs): Test auto commit
  packages/mermaid/src/docs/classDiagram.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix(docs): Test auto commit
  .github/workflows/lint.yml
Due: none

Lazy loading fix for example-diagram and mindmaps
  .vite/server.ts
  cypress/platform/knsv.html
  cypress/platform/knsv2.html
  packages/mermaid-example-diagram/src/exampleDetector.ts
  packages/mermaid-example-diagram/src/exampleDiagramDb.js
  packages/mermaid-example-diagram/src/parser/exampleDiagram.jison
  packages/mermaid-mindmap/package.json
  packages/mermaid-mindmap/src/mindmapRendererTidyTree.js
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid/src/mermaid.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm run lint:jison

fix: File location
  .github/workflows/lint.yml
Due: none

split lint docs action
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
Due: none

split lint docs action
  .github/workflows/lint-docs.yml
Due: none

Run doc lint only if files changed
  .github/workflows/lint-docs.yml
Due: none

Get base sha from PR
  .github/workflows/lint-docs.yml
Due: none

Using cose-bilkent layout algorithm for mindmaps
  .vite/server.ts
  cypress/platform/knsv.html
  cypress/platform/knsv2.html
  packages/mermaid-mindmap/package.json
  packages/mermaid-mindmap/src/mindmapDetector.old
  packages/mermaid-mindmap/src/mindmapRenderer.js
  packages/mermaid-mindmap/src/svgDraw.js
  packages/mermaid/src/mermaidAPI.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Mindmap cleanup
  cypress/platform/knsv2.html
  packages/mermaid-mindmap/src/add-diagram.ts
  packages/mermaid-mindmap/src/mindmapDb.js
  packages/mermaid-mindmap/src/mindmapRenderer.js
  packages/mermaid-mindmap/src/mindmapRendererTidyTree.js
  packages/mermaid-mindmap/src/registry.ts
Due: eslint --fix, prettier --write

Fix for broken test
  packages/mermaid-example-diagram/src/exampleDiagram.spec.js
Due: eslint --fix, prettier --write

#3561 Adding cScale0-11 etc and usage of the colors from the mindmap diagram
  cypress/platform/knsv2.html
  packages/mermaid-example-diagram/src/exampleDiagramRenderer.js
  packages/mermaid-example-diagram/src/mermaidUtils.ts
  packages/mermaid-example-diagram/src/styles.js
  packages/mermaid-mindmap/src/styles.js
  packages/mermaid-mindmap/src/svgDraw.js
  packages/mermaid/src/themes/theme-base.js
  packages/mermaid/src/themes/theme-dark.js
  packages/mermaid/src/themes/theme-default.js
  packages/mermaid/src/themes/theme-forest.js
  packages/mermaid/src/themes/theme-neutral.js
Due: eslint --fix, prettier --write

Fix postbuild script
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Updated lockfile
  pnpm-lock.yaml
Due: none

fix(tests): Interaction test - Security loose.
  cypress/integration/other/interaction.spec.js
  cypress/platform/click_security_loose.html
Due: eslint --fix, prettier --write

fix(tests): Interaction - Security strict, other
  cypress/integration/other/interaction.spec.js
  cypress/platform/click_security_other.html
  cypress/platform/click_security_strict.html
Due: eslint --fix, prettier --write

chore(tests): Interaction - cleanup
  cypress/integration/other/interaction.spec.js
Due: eslint --fix, prettier --write

fix(test): Rerender
  cypress/platform/rerender.html
Due: eslint --fix, prettier --write

fix(mermaid): Add await to render in init.
  cypress/platform/click_security_loose.html
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

chore: Update test URL
  cypress/integration/other/interaction.spec.js
  cypress/platform/click_security_loose.html
  cypress/platform/click_security_other.html
  cypress/platform/click_security_sandbox.html
  cypress/platform/click_security_strict.html
  cypress/platform/empty.html
Due: eslint --fix, prettier --write

fix: Docs
  docs/n00b-syntaxReference.md
Due: eslint --fix, prettier --write

WIP
  cypress/platform/knsv.html
  cypress/platform/knsv2.html
  packages/mermaid-mindmap/src/add-diagram.ts
  packages/mermaid-mindmap/src/mindmapDetector.ts
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid-mindmap/tsconfig.json
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/mermaidAPI.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

CODE_OF_CONDUCT Uploaded
  CODE_OF_CONDUCT.md
Due: eslint --fix, prettier --write

docs:Improved keywords in index.html
  docs/index.html
Due: eslint --fix, prettier --write

Update package.json
  package.json
Due: eslint --fix, prettier --write

Updated logic for diagram loading
  cypress/platform/viewer.js
  packages/mermaid-mindmap/src/registry.ts
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagram-api/diagramAPI.spec.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

chore(docs): run `pnpm run docs:build`
  docs/n00b-syntaxReference.md
Due: eslint --fix, prettier --write

test: remove `import {it} from "vitest"`
  packages/mermaid/src/diagrams/gantt/ganttDb.spec.ts
  packages/mermaid/src/mermaid.spec.ts
  packages/mermaid/src/utils.spec.js
Due: eslint --fix, prettier --write

build(test): remove vitest from subpackages
  packages/mermaid-example-diagram/package.json
  packages/mermaid-mindmap/package.json
  packages/mermaid/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Added sttributes to CODE OF CONDUCT
  CODE_OF_CONDUCT.md
Due: eslint --fix, prettier --write

Path conditions:
  pnpm run docs:build --git: (any of: packages/mermaid/src/docs/**) or (any of: packages/mermaid/src/docs.mts)
  eslint --fix: any of: *.{ts,js,json,html,md,mts}
  prettier --write: any of: *.{ts,js,json,html,md,mts}
  pnpm run lint:jison: any of: *.jison
