Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

state demo: add more diagrams, add explanatory text
  demos/state.html
Due: eslint --fix, prettier --write

parser: idStatement returns stmt: 'state'...; add classDef, class statements
  packages/mermaid/src/diagrams/state/parser/state-style.spec.js
  packages/mermaid/src/diagrams/state/parser/stateDiagram.jison
Due: eslint --fix, prettier --write, pnpm run lint:jison

added cspell plugin
  .eslintrc.json
  package.json
Due: eslint --fix, prettier --write

plugin edit
  .eslintrc.json
Due: eslint --fix, prettier --write

feat: make `parseError` function more type-safe
  packages/mermaid/src/Diagram.ts
Due: eslint --fix, prettier --write

fix: use `ParseErrorFunction` alias for mocks
  packages/mermaid/src/__mocks__/mermaidAPI.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

stateDb: methods for classDef, (style) classes; update extract(); code cleanup + DRY
  packages/mermaid/src/diagrams/state/stateDb.js
  packages/mermaid/src/diagrams/state/stateDb.spec.js
Due: eslint --fix, prettier --write

feat: account for the fact that an error may be a `DetailedError`
  packages/mermaid/src/Diagram.ts
Due: eslint --fix, prettier --write

fix: apply new types to the Mermaid API
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix: ensure that `ParseErrorFunction` type alias is compile-time only
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

diagram-v2 spec: added tests for labels, composite; fix typos,
  packages/mermaid/src/diagrams/state/stateDiagram-v2.spec.js
Due: eslint --fix, prettier --write

diagram-v2: store results of stateDb.extract(), apply class to state; code cleanup
  packages/mermaid/src/diagrams/state/stateRenderer-v2.js
Due: eslint --fix, prettier --write

updated eslint config and fixed cspell warnings
  .eslintrc.json
  myWords.txt
  packages/mermaid/src/diagrams/state/stateRenderer.js
  packages/mermaid/src/diagrams/user-journey/journeyRenderer.ts
  packages/mermaid/src/diagrams/user-journey/svgDraw.js
  packages/mermaid/src/mermaidAPI.ts
  packages/mermaid/src/setupGraphViewbox.js
  packages/mermaid/src/themes/theme-base.js
  packages/mermaid/src/themes/theme-dark.js
  packages/mermaid/src/themes/theme-default.js
  packages/mermaid/src/themes/theme-forest.js
  packages/mermaid/src/themes/theme-neutral.js
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

(minor) add "V2" to top level of v2 diagram spec
  packages/mermaid/src/diagrams/state/stateDiagram-v2.spec.js
Due: eslint --fix, prettier --write

common consts; add consts in stateRenderer-v2 (will esp. make theme usage easier)
  packages/mermaid/src/diagrams/state/stateCommon.ts
  packages/mermaid/src/diagrams/state/stateDb.js
  packages/mermaid/src/diagrams/state/stateRenderer-v2.js
Due: eslint --fix, prettier --write

add statement aliases for ER diagram
  packages/mermaid/src/diagrams/er/parser/erDiagram.jison
Due: pnpm run lint:jison

add tests
  packages/mermaid/src/diagrams/er/parser/erDiagram.spec.js
Due: eslint --fix, prettier --write

add aliases '0+', '1+' and '1'
  packages/mermaid/src/diagrams/er/parser/erDiagram.jison
  packages/mermaid/src/diagrams/er/parser/erDiagram.spec.js
Due: eslint --fix, prettier --write, pnpm run lint:jison

fix: Fix useMaxWidth option for git graph
  packages/mermaid/src/diagrams/git/gitGraphRenderer.js
Due: eslint --fix, prettier --write

feat: loadExternalDiagramsAtStartup
  packages/mermaid/package.json
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/mermaid.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: Update lockfile
  pnpm-lock.yaml
Due: none

chore: add `auto-install-peers` to `.npmrc`
  .npmrc
Due: none

#3192 Adding the ability to create invisible links in flowcharts(v2)
  packages/mermaid/src/dagre-wrapper/edges.js
  packages/mermaid/src/diagrams/flowchart/flowDb.js
  packages/mermaid/src/diagrams/flowchart/flowRenderer-v2.js
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: eslint --fix, prettier --write, pnpm run lint:jison

#3192 Adding link type of the std docs
  docs/flowchart.md
  packages/mermaid/src/docs/flowchart.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

rachit.md
  rachit.md
Due: eslint --fix, prettier --write

Remove inconsistent and deprecated semicolons
  docs/flowchart.md
  packages/mermaid/src/docs/flowchart.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Update docs/index.html
  docs/index.html
Due: eslint --fix, prettier --write

Update packages/mermaid/src/docs/index.html
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Define integrity, crossorigin and referrerpolicy
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Define integrity, crossorigin and referrerpolicy
  docs/index.html
Due: eslint --fix, prettier --write

Update packages/mermaid/src/docs.mts
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: relative paths
  docs/developer-docs/configuration.md
  docs/diagrams-and-syntax-and-examples/flowchart.md
  docs/landing/index.html
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

chore: format
  docs/index.html
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

covertbinarytodecimal.cpp
  convertbinarytodecimal.cpp
Due: none

check_armstrong.cpp
  check_armstrong.cpp
Due: none

bubblesort.cpp
  bubblesort.cpp
Due: none

greaterof4number.cpp
  greaterof4numbers.cpp
Due: none

#3659 Adding height when not using maxWidth
  cypress/platform/knsv2.html
  packages/mermaid/src/setupGraphViewbox.js
Due: eslint --fix, prettier --write

fix: docs
  docs/index.html
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Path conditions:
  pnpm run docs:build --git: (any of: packages/mermaid/src/docs/**) or (any of: packages/mermaid/src/docs.mts)
  eslint --fix: any of: *.{ts,js,json,html,md,mts}
  prettier --write: any of: *.{ts,js,json,html,md,mts}
  pnpm run lint:jison: any of: *.jison
