Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

.lintstagedrc.json:

{
  "packages/mermaid/src/docs/**": ["pnpm run docs:build --git"],
  "packages/mermaid/src/docs.mts": ["pnpm run docs:build --git"],
  "*.{ts,js,json,html,md,mts}": ["eslint --fix", "prettier --write"],
  "*.jison": ["pnpm run lint:jison"]
}

fix: gantt demo diagrams (#3655)
  demos/gantt.html
Due: eslint --fix, prettier --write

update docs
  docs/entityRelationshipDiagram.md
  packages/mermaid/src/docs/entityRelationshipDiagram.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

add more docs
  docs/classDiagram.md
  packages/mermaid/src/docs/classDiagram.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

add renedering (cypress) tests
  cypress/integration/rendering/erDiagram.spec.js
Due: eslint --fix, prettier --write

add basic render (cypress test for notes
  cypress/integration/rendering/classDiagram.spec.js
Due: eslint --fix, prettier --write

add basic render (cypress) test for classDiagram-v2 too
  cypress/integration/rendering/classDiagram-v2.spec.js
Due: eslint --fix, prettier --write

fix cypress tests for erDiagram, add eslint-plugin-no-only-tests plugin because of this comment: https://github.com/mermaid-js/mermaid/pull/3647#issuecomment-1281163858
  .eslintrc.json
  cypress/integration/rendering/erDiagram.spec.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: added warning and notes
  docs/CHANGELOG.md
  docs/community/development.md
  docs/community/n00b-overview.md
  docs/community/newDiagram.md
  docs/community/security.md
  docs/config/8.6.0_docs.md
  docs/config/Tutorials.md
  docs/config/accessibility.md
  docs/config/configuration.md
  docs/config/directives.md
  docs/config/mermaidCLI.md
  docs/config/n00b-advanced.md
  docs/config/setup/README.md
  docs/config/setup/modules/config.md
  docs/config/setup/modules/defaultConfig.md
  docs/config/setup/modules/mermaidAPI.md
  docs/config/theming.md
  docs/config/usage.md
  docs/img/er.png
  docs/index.md
  docs/intro/index.md
  docs/intro/n00b-gettingStarted.md
  docs/intro/n00b-syntaxReference.md
  docs/misc/faq.md
  docs/misc/integrations.md
  docs/syntax/c4c.md
  docs/syntax/classDiagram.md
  docs/syntax/entityRelationshipDiagram.md
  docs/syntax/examples.md
  docs/syntax/flowchart.md
  docs/syntax/gantt.md
  docs/syntax/gitgraph.md
  docs/syntax/mindmap.md
  docs/syntax/pie.md
  docs/syntax/requirementDiagram.md
  docs/syntax/sequenceDiagram.md
  docs/syntax/stateDiagram.md
  docs/syntax/userJourney.md
  packages/mermaid/package.json
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs: added warning and notes
  docs/community/newDiagram.md
  docs/config/8.6.0_docs.md
  docs/config/theming.md
  docs/config/usage.md
  docs/syntax/sequenceDiagram.md
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs: fix layout problem
  docs/.vitepress/theme/custom.css
  packages/mermaid/src/docs/.vitepress/theme/custom.css
Due: pnpm run docs:build --git

fix: Live editor links
  docs/config/Tutorials.md
  docs/intro/n00b-syntaxReference.md
  packages/mermaid/docs/config/Tutorials.md
  packages/mermaid/docs/intro/n00b-syntaxReference.md
  packages/mermaid/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Color fix for default nodes in mindmap, line uses inv color
  packages/mermaid-mindmap/src/styles.js
Due: eslint --fix, prettier --write

Update .eslintrc.json
  .eslintrc.json
Due: eslint --fix, prettier --write

changed cspell config in eslint from warn to error
  .eslintrc.json
Due: eslint --fix, prettier --write

Delete dependabot.yml
  .github/dependabot.yml
Due: none

Setting version to rc7
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

chore: Add CORS to vite dev
  .vite/server.ts
Due: eslint --fix, prettier --write

Adding queue for async calls in mermaidts and fixing icon color
  packages/mermaid-mindmap/src/styles.js
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/themes/theme-default.js
  packages/mermaid/src/themes/theme-forest.js
Due: eslint --fix, prettier --write

testcode
  cypress/platform/knsv2.html
Due: eslint --fix, prettier --write

Theme update from release 9.2
  packages/mermaid-mindmap/src/styles.js
  packages/mermaid/src/themes/theme-default.js
  packages/mermaid/src/themes/theme-forest.js
Due: eslint --fix, prettier --write

fix: TS errors
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

fix: Add default arg to options
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

Check github actions for updates weekly
  .github/dependabot.yml
Due: none

fix: Error handling
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

readable code by using space
  .vscode/launch.json
Due: eslint --fix, prettier --write

fix: Type of DiagramStyleClassDef, general cleanup
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagrams/flowchart/flowDb.js
  packages/mermaid/src/diagrams/flowchart/flowRenderer.js
  packages/mermaid/src/mermaidAPI.spec.ts
  packages/mermaid/src/mermaidAPI.ts
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

chore: Fix cspell
  cSpell.json
Due: eslint --fix, prettier --write

added code
  linked list code
Due: none

added curly rule to eslintrc
  .eslintrc.json
Due: eslint --fix, prettier --write

Ran linter (npm run lint:fix)
  cypress/helpers/util.js
  cypress/platform/viewer.js
  packages/mermaid/src/dagre-wrapper/createLabel.js
  packages/mermaid/src/dagre-wrapper/edges.js
  packages/mermaid/src/dagre-wrapper/mermaid-graphlib.js
  packages/mermaid/src/dagre-wrapper/nodes.js
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagrams/c4/c4Db.js
  packages/mermaid/src/diagrams/c4/c4Renderer.js
  packages/mermaid/src/diagrams/c4/svgDraw.js
  packages/mermaid/src/diagrams/class/classDb.js
  packages/mermaid/src/diagrams/class/classDetector-V2.ts
  packages/mermaid/src/diagrams/class/classDetector.ts
  packages/mermaid/src/diagrams/class/svgDraw.js
  packages/mermaid/src/diagrams/common/common.ts
  packages/mermaid/src/diagrams/flowchart/flowChartShapes.js
  packages/mermaid/src/diagrams/flowchart/flowDb.js
  packages/mermaid/src/diagrams/flowchart/flowDetector-v2.ts
  packages/mermaid/src/diagrams/flowchart/flowDetector.ts
  packages/mermaid/src/diagrams/gantt/ganttDb.js
  packages/mermaid/src/diagrams/gantt/ganttRenderer.js
  packages/mermaid/src/diagrams/git/gitGraphAst.js
  packages/mermaid/src/diagrams/git/gitGraphRenderer-old.js
  packages/mermaid/src/diagrams/sequence/sequenceDb.js
  packages/mermaid/src/diagrams/sequence/sequenceRenderer.ts
  packages/mermaid/src/diagrams/sequence/svgDraw.js
  packages/mermaid/src/diagrams/state/shapes.js
  packages/mermaid/src/diagrams/state/stateDb.js
  packages/mermaid/src/diagrams/state/stateDetector-V2.ts
  packages/mermaid/src/diagrams/state/stateDetector.ts
  packages/mermaid/src/diagrams/state/stateRenderer.js
  packages/mermaid/src/diagrams/user-journey/journeyRenderer.ts
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/mermaidAPI.ts
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

Update packages/mermaid/src/dagre-wrapper/mermaid-graphlib.js
  packages/mermaid/src/dagre-wrapper/mermaid-graphlib.js
Due: eslint --fix, prettier --write

docs: contribute with vitepress
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

docs: small fixes
  packages/mermaid/src/docs/.vitepress/config.ts
  packages/mermaid/src/docs/.vitepress/mermaid-markdown-all.ts
  packages/mermaid/src/docs/.vitepress/theme/custom.css
  packages/mermaid/src/docs/syntax/flowchart.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs: transform custom blocks, warning notes jison
  README.md
  packages/mermaid/src/docs/.vitepress/blocks-markdown.ts
  packages/mermaid/src/docs/.vitepress/config.ts
  packages/mermaid/src/docs/.vitepress/mermaid-markdown-all.ts
  packages/mermaid/src/docs/community/newDiagram.md
  packages/mermaid/src/docs/config/8.6.0_docs.md
  packages/mermaid/src/docs/config/theming.md
  packages/mermaid/src/docs/config/usage.md
  packages/mermaid/src/docs/intro/index.md
  packages/mermaid/src/docs/syntax/flowchart.md
  packages/mermaid/src/docs/syntax/sequenceDiagram.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

ran linter
  packages/mermaid/src/dagre-wrapper/mermaid-graphlib.js
Due: eslint --fix, prettier --write

Versions for latest rcs
  packages/mermaid-mindmap/package.json
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

style: lint typescript with eslint-plugin-tsdoc
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: gh pages workflow
  .github/gh-pages-publish.yml
Due: none
