Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

style: fix eslint-plugin-tsdoc linting issues
  packages/mermaid-example-diagram/src/detector.ts
  packages/mermaid-example-diagram/src/mermaidUtils.ts
  packages/mermaid/src/__mocks__/mermaidAPI.ts
  packages/mermaid/src/config.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/diagrams/common/common.ts
  packages/mermaid/src/diagrams/error/errorRenderer.ts
  packages/mermaid/src/diagrams/sequence/sequenceRenderer.ts
  packages/mermaid/src/diagrams/user-journey/journeyRenderer.ts
  packages/mermaid/src/logger.ts
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/mermaidAPI.ts
  packages/mermaid/src/themes/erDiagram-oldHardcodedValues.ts
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

Update sequenceDiagram.md
  docs/sequenceDiagram.md
Due: eslint --fix, prettier --write

fix typo
  packages/mermaid/src/docs/sequenceDiagram.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Create Calculator.html
  Calculator.html
Due: eslint --fix, prettier --write

fix: load lazyLoadedDiagrams in initThrowsErrors
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

docs(mermaid): document initThrowsErrors
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix(mermaid): error if lazyLoadedDiagrams fails
  packages/mermaid/src/mermaid.spec.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix(mermaid): fix DiagramDefinition types
  packages/mermaid/src/diagram-api/types.ts
Due: eslint --fix, prettier --write

refactor(mermaid): remove registerDiagram cb func
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
Due: eslint --fix, prettier --write

feat: add `mermaidAPI.registerDiagram()`
  cypress/integration/other/external-diagrams.spec.js
  cypress/platform/external-diagrams-mindmap.html
  packages/mermaid-example-diagram/src/diagram-definition.ts
  packages/mermaid-mindmap/src/diagram-definition.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

Update packages to fix vulnerabilities
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Change fill attribute to style.
  packages/mermaid/src/diagrams/er/erRenderer.js
Due: eslint --fix, prettier --write

Ensure example code and rendered output are synced
  README.md
Due: eslint --fix, prettier --write

Convert attr to style
  packages/mermaid/src/diagrams/er/erRenderer.js
Due: eslint --fix, prettier --write

Convert attr to classed
  packages/mermaid/src/diagrams/er/erRenderer.js
Due: eslint --fix, prettier --write

Added README for mermaid-zenuml.
  packages/mermaid-zenuml/README.md
Due: eslint --fix, prettier --write

feat(zenuml): :construction: create the mermaid-zenuml package
  .vite/build.ts
  .vite/server.ts
  cypress/platform/zenuml.html
  packages/mermaid-zenuml/package.json
  packages/mermaid-zenuml/src/detector.ts
  packages/mermaid-zenuml/src/diagram-definition.ts
  packages/mermaid-zenuml/src/mermaidUtils.ts
  packages/mermaid-zenuml/src/zenumlRenderer.ts
  packages/mermaid-zenuml/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Standardize chart names in docs
  docs/diagrams/c4.md
  docs/diagrams/class.md
  docs/diagrams/er.md
  docs/diagrams/flowchart.md
  docs/diagrams/gantt.md
  docs/diagrams/git.md
  docs/diagrams/pie.md
  docs/diagrams/requirement.md
  docs/diagrams/sequence.md
  docs/diagrams/state.md
  docs/diagrams/user-journey.md
  packages/mermaid/src/docs/diagrams-and-syntax-and-examples/flowchart.md
  packages/mermaid/src/docs/diagrams/c4.md
  packages/mermaid/src/docs/diagrams/class.md
  packages/mermaid/src/docs/diagrams/er.md
  packages/mermaid/src/docs/diagrams/flowchart.md
  packages/mermaid/src/docs/diagrams/gantt.md
  packages/mermaid/src/docs/diagrams/git.md
  packages/mermaid/src/docs/diagrams/pie.md
  packages/mermaid/src/docs/diagrams/requirement.md
  packages/mermaid/src/docs/diagrams/sequence.md
  packages/mermaid/src/docs/diagrams/state.md
  packages/mermaid/src/docs/diagrams/user-journey.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Update links to diagrams
  docs/README.md
  docs/SUMMARY.md
  docs/_sidebar.md
  packages/mermaid/src/docs/README.md
  packages/mermaid/src/docs/SUMMARY.md
  packages/mermaid/src/docs/_sidebar.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: lint and spell errors
  .github/workflows/lint.yml
  cSpell.json
  docs/config/setup/modules/config.md
  docs/config/setup/modules/defaultConfig.md
  docs/config/setup/modules/mermaidAPI.md
Due: eslint --fix, prettier --write

fix : CQ
  docs/config/setup/modules/config.md
  docs/config/setup/modules/defaultConfig.md
  docs/config/setup/modules/mermaidAPI.md
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix(git): Support quoted branch names
  docs/gitgraph.md
  packages/mermaid/src/diagrams/git/gitGraphParserV2.spec.js
  packages/mermaid/src/diagrams/git/parser/gitGraph.jison
  packages/mermaid/src/docs/gitgraph.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

chore: Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: eslint --fix, prettier --write

feat(gantt): Add option 'tickInterval' for custom tick interval
  cypress/integration/rendering/gantt.spec.js
  docs/gantt.md
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagrams/gantt/ganttDb.js
  packages/mermaid/src/diagrams/gantt/ganttRenderer.js
  packages/mermaid/src/diagrams/gantt/parser/gantt.jison
  packages/mermaid/src/docs/gantt.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

Revert "Merge branch 'release_9.2.0_buggfixes'"
  cypress/platform/knsv2.html
  packages/mermaid/src/mermaid.spec.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix: lazy load diagrams in initThrowsErrorsAsync
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

docs(mermaid): document initThrowsErrorsAsync
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

feat: expose initThrowsErrorsAsync publicly
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix(mermaid): error if lazyLoadedDiagrams fails
  packages/mermaid/src/__mocks__/mermaidAPI.ts
  packages/mermaid/src/mermaid.spec.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

chore: more revision fixes
  .github/dependabot.yml
  .github/gh-pages-publish.yml
  docs/.vitepress/mermaid-markdown-all.ts
  docs/community/newDiagram.md
  docs/config/8.6.0_docs.md
  docs/config/setup/modules/config.md
  docs/config/setup/modules/defaultConfig.md
  docs/config/setup/modules/mermaidAPI.md
  docs/config/theming.md
  docs/config/usage.md
  docs/syntax/sequenceDiagram.md
  packages/mermaid/package.json
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/docs.mts
  packages/mermaid/src/docs/.vitepress/mermaid-markdown-all.ts
  pnpm-lock.yaml
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs(git): Add a quoted branch name example
  packages/mermaid/src/docs/gitgraph.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs(git): Regenerate
  docs/gitgraph.md
Due: eslint --fix, prettier --write

fix: Use AST to replace notes & warnings.
  .vscode/launch.json
  cSpell.json
  docs/community/newDiagram.md
  docs/config/8.6.0_docs.md
  docs/config/theming.md
  docs/config/usage.md
  docs/syntax/sequenceDiagram.md
  packages/mermaid/src/docs.mts
  packages/mermaid/src/docs/community/newDiagram.md
  packages/mermaid/src/docs/config/usage.md
  packages/mermaid/src/mermaidAPI.ts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Remove extra arrow and adjust cross position
  packages/mermaid/src/diagrams/sequence/svgDraw.js
Due: eslint --fix, prettier --write

chore: Fix vitepress build
  .gitignore
  cSpell.json
  docs/.vitepress/blocks-markdown.ts
  docs/.vitepress/config.ts
  docs/.vitepress/mermaid-markdown-all.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/config/setup/.nojekyll
  docs/index.md
  docs/vite.config.ts
  packages/mermaid/package.json
  packages/mermaid/src/docs.mts
  packages/mermaid/src/docs/.vitepress/blocks-markdown.ts
  packages/mermaid/src/docs/.vitepress/config.ts
  packages/mermaid/src/docs/.vitepress/mermaid-markdown-all.ts
  packages/mermaid/src/docs/config/setup/README.md
  packages/mermaid/src/docs/config/setup/modules/config.md
  packages/mermaid/src/docs/config/setup/modules/defaultConfig.md
  packages/mermaid/src/docs/config/setup/modules/mermaidAPI.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: Team members
  packages/mermaid/src/docs/index.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

chore: update cspell.json
  cSpell.json
Due: eslint --fix, prettier --write

chore: Fix doc links
  docs/CHANGELOG.md
  docs/community/development.md
  docs/community/n00b-overview.md
  docs/community/newDiagram.md
  docs/community/security.md
  docs/config/8.6.0_docs.md
  docs/config/Tutorials.md
  docs/config/accessibility.md
  docs/config/configuration.md
  docs/config/directives.md
  docs/config/mermaidCLI.md
  docs/config/n00b-advanced.md
  docs/config/setup/README.md
  docs/config/setup/modules/config.md
  docs/config/setup/modules/defaultConfig.md
  docs/config/setup/modules/mermaidAPI.md
  docs/config/theming.md
  docs/config/usage.md
  docs/intro/index.md
  docs/intro/n00b-gettingStarted.md
  docs/intro/n00b-syntaxReference.md
  docs/misc/faq.md
  docs/misc/integrations.md
  docs/syntax/c4c.md
  docs/syntax/classDiagram.md
  docs/syntax/entityRelationshipDiagram.md
  docs/syntax/examples.md
  docs/syntax/flowchart.md
  docs/syntax/gantt.md
  docs/syntax/gitgraph.md
  docs/syntax/mindmap.md
  docs/syntax/pie.md
  docs/syntax/requirementDiagram.md
  docs/syntax/sequenceDiagram.md
  docs/syntax/stateDiagram.md
  docs/syntax/userJourney.md
Due: eslint --fix, prettier --write

chore: Add prettier to docs:code
  packages/mermaid/package.json
Due: eslint --fix, prettier --write

Path conditions:
  pnpm run docs:build --git: (any of: packages/mermaid/src/docs/**) or (any of: packages/mermaid/src/docs.mts)
  eslint --fix: any of: *.{ts,js,json,html,md,mts}
  prettier --write: any of: *.{ts,js,json,html,md,mts}
  pnpm run lint:jison: any of: *.jison
