Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

Create Mst-algo.cpp
  Mst-algo.cpp
Due: none

Fill inheritance arrow with background color
  packages/mermaid/src/diagrams/class/styles.js
Due: eslint --fix, prettier --write

Fix file name during "dev" script
  package.json
Due: eslint --fix, prettier --write

Order pie chart slices clockwise by order of entries
  packages/mermaid/src/diagrams/pie/pieRenderer.js
Due: eslint --fix, prettier --write

Create all_in_one_array.c
  all_in_one_array.c
Due: none

docs: Fix docs path in Contributing.md
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

Added favicon
  packages/mermaid/src/docs/favicon/android-icon-144x144.png
  packages/mermaid/src/docs/favicon/android-icon-192x192.png
  packages/mermaid/src/docs/favicon/android-icon-36x36.png
  packages/mermaid/src/docs/favicon/android-icon-48x48.png
  packages/mermaid/src/docs/favicon/android-icon-72x72.png
  packages/mermaid/src/docs/favicon/android-icon-96x96.png
  packages/mermaid/src/docs/favicon/apple-icon-114x114.png
  packages/mermaid/src/docs/favicon/apple-icon-120x120.png
  packages/mermaid/src/docs/favicon/apple-icon-144x144.png
  packages/mermaid/src/docs/favicon/apple-icon-152x152.png
  packages/mermaid/src/docs/favicon/apple-icon-180x180.png
  packages/mermaid/src/docs/favicon/apple-icon-57x57.png
  packages/mermaid/src/docs/favicon/apple-icon-60x60.png
  packages/mermaid/src/docs/favicon/apple-icon-72x72.png
  packages/mermaid/src/docs/favicon/apple-icon-76x76.png
  packages/mermaid/src/docs/favicon/apple-icon-precomposed.png
  packages/mermaid/src/docs/favicon/apple-icon.png
  packages/mermaid/src/docs/favicon/browserconfig.xml
  packages/mermaid/src/docs/favicon/favicon-16x16.png
  packages/mermaid/src/docs/favicon/favicon-32x32.png
  packages/mermaid/src/docs/favicon/favicon-96x96.png
  packages/mermaid/src/docs/favicon/favicon.ico
  packages/mermaid/src/docs/favicon/manifest.json
  packages/mermaid/src/docs/favicon/ms-icon-144x144.png
  packages/mermaid/src/docs/favicon/ms-icon-150x150.png
  packages/mermaid/src/docs/favicon/ms-icon-310x310.png
  packages/mermaid/src/docs/favicon/ms-icon-70x70.png
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Link added for local setup
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

contribution.md updated
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

refactor: use `posix.join()` instead of replacing `\`
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Contrbution steps updated
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

Update pie docs to reflect label order change
  docs/pie.md
  packages/mermaid/src/docs/pie.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Create class_chart.html
  demos/class_chart.html
Due: eslint --fix, prettier --write

chore: Add volta
  CONTRIBUTING.md
  package.json
Due: eslint --fix, prettier --write

chore: Set node v16
  package.json
Due: eslint --fix, prettier --write

chore: Bump node to v18
  .github/workflows/build.yml
  .github/workflows/e2e-applitools.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/release-preview-publish.yml
  .github/workflows/release-publish.yml
  .github/workflows/test.yml
  package.json
Due: eslint --fix, prettier --write

Update renovate.json
  renovate.json
Due: eslint --fix, prettier --write

chore: renovate lint
  renovate.json
Due: eslint --fix, prettier --write

docs: Update twitter link
  README.md
  README.zh-CN.md
  docs/README.md
  packages/mermaid/src/docs/README.md
  vdocs/intro/index.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: Dirty fix for sync render.
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

fix: Tests
  cypress/platform/render-after-error.html
  cypress/platform/rerender.html
Due: eslint --fix, prettier --write

Revert "fix: use async in render-after-error"
  cypress/platform/render-after-error.html
Due: eslint --fix, prettier --write

Revert "fix(test): Rerender"
  cypress/platform/rerender.html
Due: eslint --fix, prettier --write

fix: vertex property `props` is overwritten instead of being merged with new value
  packages/mermaid/src/diagrams/flowchart/flowDb.js
Due: eslint --fix, prettier --write

add the way to add notes to class diagram
  README.md
  packages/mermaid/src/diagrams/class/classDb.js
  packages/mermaid/src/diagrams/class/classDiagram.spec.js
  packages/mermaid/src/diagrams/class/classRenderer-v2.js
  packages/mermaid/src/diagrams/class/classRenderer.js
  packages/mermaid/src/diagrams/class/parser/classDiagram.jison
  packages/mermaid/src/diagrams/class/styles.js
  packages/mermaid/src/diagrams/class/svgDraw.js
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write, pnpm run lint:jison

chore: add `auto-install-peers` to `.npmrc`
  .npmrc
Due: none

chore: Update lockfile
  pnpm-lock.yaml
Due: none

docs: Fix initial install step
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

Create Calculator.js
  Calculator.js
Due: eslint --fix, prettier --write

Fix for async issue in parse, adding parseAsync
  .gitignore
  cypress/platform/knsv2.html
  package.json
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

#3252 Handling for trailing whitespaces in subgraph titles
  packages/mermaid/src/diagrams/flowchart/flowDb.js
Due: eslint --fix, prettier --write

feat: Add initializeAsync
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

state demo add classDefs to example with explanations; add some headers; update composite from docs
  demos/state.html
Due: eslint --fix, prettier --write

API: getClasses() with the diagram renderer (not flowchart renderer); add const
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

(minor) API: removed unused flowRenderer import; add comment
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

add spec for stateDB addStyleClass
  packages/mermaid/src/diagrams/state/stateDb.spec.js
Due: eslint --fix, prettier --write

add cypress tests for classDefs and applying classes to states
  cypress/integration/rendering/stateDiagram-v2.spec.js
Due: eslint --fix, prettier --write

Path conditions:
  pnpm run docs:build --git: (any of: packages/mermaid/src/docs/**) or (any of: packages/mermaid/src/docs.mts)
  eslint --fix: any of: *.{ts,js,json,html,md,mts}
  prettier --write: any of: *.{ts,js,json,html,md,mts}
  pnpm run lint:jison: any of: *.jison
