Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

add known term
  cSpell.json
Due: eslint --fix, prettier --write

more known terms
  cSpell.json
Due: eslint --fix, prettier --write

turn npmjs.org into link
  packages/mermaid/src/docs/README.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: "previous"
  packages/mermaid/src/docs/mindmap.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: "different"
  packages/mermaid/src/docs/mindmap.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

known term
  cSpell.json
Due: eslint --fix, prettier --write

fix: "stable"
  packages/mermaid/src/docs/mindmap.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

known terms
  cSpell.json
Due: eslint --fix, prettier --write

fix: "JetBrains"
  packages/mermaid/src/docs/integrations.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: "corresponding"
  packages/mermaid/src/docs/accessibility.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs: ESM import
  README.md
  README.zh-CN.md
  docs/README.md
  docs/index.html
  docs/n00b-gettingStarted.md
  docs/usage.md
  packages/mermaid/src/docs.mts
  packages/mermaid/src/docs/README.md
  packages/mermaid/src/docs/index.html
  packages/mermaid/src/docs/n00b-gettingStarted.md
  packages/mermaid/src/docs/usage.md
  vdocs/config/usage.md
  vdocs/intro/index.md
  vdocs/intro/n00b-gettingStarted.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: "skin param"
  cSpell.json
  packages/mermaid/src/docs/c4c.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Revert "fix: "skin param""
  cSpell.json
  packages/mermaid/src/docs/c4c.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

ignore the changelog
  cSpell.json
Due: eslint --fix, prettier --write

fix: "skin param"
  packages/mermaid/src/docs/c4c.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

separate words & ignoreWords
  cSpell.json
Due: eslint --fix, prettier --write

format cSpell.json
  cSpell.json
Due: eslint --fix, prettier --write

docs: ESM import
  docs/usage.md
  packages/mermaid/src/docs/usage.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

format docs YAML
  .github/workflows/docs.yml
Due: none

format Setup.md
  packages/mermaid/src/docs/Setup.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

capitalization fix
  .github/workflows/docs.yml
Due: none

fix: Remove hard coded Path separator
  docs/README.md
  docs/Setup.md
  docs/accessibility.md
  docs/c4c.md
  docs/integrations.md
  docs/mindmap.md
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: docs path in windows
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs: Sync
  docs/README.md
  docs/Setup.md
  docs/accessibility.md
  docs/c4c.md
  docs/integrations.md
  docs/mindmap.md
Due: eslint --fix, prettier --write

fix: Optimize diagram loading
  packages/mermaid/src/__mocks__/mermaidAPI.ts
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagram-api/diagramAPI.spec.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/mermaid.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

fix: Remove connectDiagram
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix: Optional detector
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
Due: eslint --fix, prettier --write

chore: Cleanup
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

Added and configured cspell plugin to eslint
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update packages/mermaid/src/docs/n00b-gettingStarted.md
  packages/mermaid/src/docs/n00b-gettingStarted.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs: Add version to doc index.html
  docs/index.html
  packages/mermaid/src/docs.mts
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

docs: Add twitter
  README.md
  README.zh-CN.md
  docs/README.md
  docs/n00b-gettingStarted.md
  packages/mermaid/src/docs/README.md
  vdocs/intro/index.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: docs path in windows
  docs/README.md
  docs/Setup.md
  docs/accessibility.md
  docs/c4c.md
  docs/integrations.md
  docs/mindmap.md
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Path conditions:
  pnpm run docs:build --git: (any of: packages/mermaid/src/docs/**) or (any of: packages/mermaid/src/docs.mts)
  eslint --fix: any of: *.{ts,js,json,html,md,mts}
  prettier --write: any of: *.{ts,js,json,html,md,mts}
  pnpm run lint:jison: any of: *.jison
