Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run docs:build --git, eslint --fix, prettier --write, pnpm run lint:jison

.lintstagedrc.json:

{
  "packages/mermaid/src/docs/**": ["pnpm run docs:build --git"],
  "packages/mermaid/src/docs.mts": ["pnpm run docs:build --git"],
  "*.{ts,js,json,html,md,mts}": ["eslint --fix", "prettier --write"],
  "*.jison": ["pnpm run lint:jison"]
}

Some changes in the docs for mindmap
  .gitignore
  docs/mindmap.md
  packages/mermaid/src/docs/mindmap.md
Due: pnpm run docs:build --git, eslint --fix, prettier --write

Largeno.java
  Largeno.java
Due: none

Release 9.20 fixes of docsify
  docs/index.html
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

#448 Fix for root nodes without children
  packages/mermaid-mindmap/package.json
  packages/mermaid-mindmap/src/mindmapRenderer.js
Due: eslint --fix, prettier --write

Removing error thrown disrupting rendering
  packages/mermaid/src/diagram-api/diagramAPI.ts
Due: eslint --fix, prettier --write

Docs with lazy loading using rc bundles
  docs/index.html
  packages/mermaid/package.json
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: Diagram load issue
  .vite/build.ts
  package.json
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/logger.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

fix: Diagram load issue
  .vite/build.ts
  package.json
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/logger.ts
Due: eslint --fix, prettier --write

docs: new Documentation
  .github/gh-pages-publish.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .lintstagedrc.json
  CONTRIBUTING.md
  package.json
  packages/mermaid/.lintstagedrc.json
  packages/mermaid/package.json
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

feat(issue#3675): added open graph meta tags
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

remove id attribute
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: prettier
  docs/index.html
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

update: open graph image
  docs/index.html
  packages/mermaid/src/docs/index.html
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: Remove hardcoded numericLevel
  packages/mermaid/src/logger.ts
Due: eslint --fix, prettier --write

render: constants
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

specs: encodeEntities, decodeEntities
  packages/mermaid/src/mermaidAPI.spec.js
Due: eslint --fix, prettier --write

render: define const iFrameId, enclosingDivID and _selector to use in function
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

comment the main steps (prepare to break into functions that can be tested)
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

more meaningful var names; move related lines together; const idSelector
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

const isSandboxed, isLooseSecurityLevel, fontFamily; a few more CONSTs
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

add MockedD3.ts
  packages/mermaid/src/tests/MockedD3.ts
Due: eslint --fix, prettier --write

functions and specs: createCssStyles, appendDivSvgG,cleanUpSvgCode, putIntoIFrame [for render]
  packages/mermaid/src/mermaidAPI.spec.js
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

fix: getElementById type issue.
  packages/mermaid-mindmap/package.json
  packages/mermaid-mindmap/src/mermaidUtils.ts
  packages/mermaid-mindmap/src/mindmapDb.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: Update creation date
  packages/mermaid-mindmap/src/mindmapDb.ts
  packages/mermaid-mindmap/src/mindmapRenderer.js
Due: eslint --fix, prettier --write

test(gantt): remove incorrect comment
  packages/mermaid/src/diagrams/gantt/parser/gantt.spec.js
Due: eslint --fix, prettier --write

style: fix @cspell/eslint warnings
  applitools.config.js
  cSpell.json
  cypress/integration/rendering/appli.spec.js
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagrams/sequence/sequenceDiagram.spec.js
Due: eslint --fix, prettier --write

style(sequence): rename lineStarty to lineStartY
  packages/mermaid/src/diagrams/sequence/sequenceRenderer.ts
Due: eslint --fix, prettier --write

functions and specs: createUserstyles; minor changes
  packages/mermaid/src/mermaidAPI.spec.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

functions and specs: removeExistingElements
  packages/mermaid/src/mermaidAPI.spec.ts
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write

change spec descriptions to active voice (= shorter b/c 'should' isn't needed)
  packages/mermaid/src/mermaidAPI.spec.ts
Due: eslint --fix, prettier --write

fix: Fixed git graph to use global setting if `useMaxWidth` option is not set
  packages/mermaid/src/diagrams/git/gitGraphRenderer.js
Due: eslint --fix, prettier --write

removed eslint-ignore statements
  packages/mermaid/src/dagre-wrapper/intersect/index.js
  packages/mermaid/src/diagrams/gantt/ganttDb.spec.ts
  packages/mermaid/src/diagrams/sequence/sequenceRenderer.ts
  packages/mermaid/src/diagrams/user-journey/journeyRenderer.ts
  packages/mermaid/src/utils.ts
Due: eslint --fix, prettier --write

configured 3 more words in cspell.json
  applitools.config.js
  cSpell.json
  packages/mermaid/src/dagre-wrapper/intersect/intersect-line.js
  packages/mermaid/src/docs.mts
Due: pnpm run docs:build --git, eslint --fix, prettier --write

fix: Build types
  package.json
  packages/mermaid-mindmap/src/mermaidUtils.ts
  packages/mermaid-mindmap/src/mindmapDb.ts
  packages/mermaid/src/mermaid.ts
Due: eslint --fix, prettier --write

chore: Add CORS to vite dev
  .vite/server.ts
Due: eslint --fix, prettier --write

#3687 Separating the render specific data from the data related to parsing
  packages/mermaid-mindmap/package.json
  packages/mermaid-mindmap/src/mindmapDb.js
  packages/mermaid-mindmap/src/mindmapRenderer.js
  packages/mermaid-mindmap/src/svgDraw.js
Due: eslint --fix, prettier --write

#3680 Add font familiy in a way that does remove other configuration
  packages/mermaid/src/mermaidAPI.ts
Due: eslint --fix, prettier --write
